@import "../../global.scss";

.description {
    display: flex;
    justify-content: start;
    flex-direction: column;
    background-color: whitesmoke;
    padding-top: 50px;
    h1 {
        font-size: 50px;
        display: flex;
        justify-content: center;
    }
    .container {
        .top {
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            h2 {
                margin: 50px 50px;
            }
        }
        .bottom {
            display:flex;
            //flex-direction: column;
            justify-content: space-around;
            .botLeft {
                
            }
            .botRight {

            }
        }
    }
}