@import "../../global.scss";

.testimonials {
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 50px;
    h1 {
        font-size: 50px;
        overflow: hidden;
        @include mobile {
            font-size: 20px;
        }
    }

    .container {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        @include mobile {
            flex-direction: column;
        }

        .card {
            width:300px;
            height: 75%;
            border-radius:20px;
            box-shadow: 0px 0px 15px -8px black;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            padding: 20px;
            @include mobile {
                height: 180px;
                margin: 10px 0px;
                width: 250px;
            }
            @include smallScreen {
                height: 75%;
                overflow: hidden;
            }

            .top {
                padding: 10px;
                background-color: rgb(223, 222, 222);
                border-radius: 20px;
                text-align: center;
                @include mobile {
                    font-size: 15px;
                    padding: 5px;
                    height: 65%;
                }
            }

            .bottom {
                display:flex;
                align-items: center;
                flex-direction: column;
                justify-content: center;
                margin-top: auto;
                @include mobile {
                    font-size:14px;
                }
                h3 {
                    margin-bottom: 5px;
                }

            }
            
            &:hover{
                transition: 0.2s ease-in;
                transform: scale(1.1);
                @include mobile {
                    transition: none;
                    transform: none;
                    zoom: 110%;
                }
            }

        }
    }
}