$mainColor: #15023a;

$maxHeight: 1069px;
$mobileWidth: 768px;

@mixin mobile {
    @media(max-width: #{$mobileWidth}) {
        @content
    }
}

@mixin smallScreen {
    @media(max-height: #{$maxHeight}) {
        @content
    }
} 